<h1>NeoVZ</h1>
<br>
<h2>Freundesliste</h2>
<br>
<table>
    <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Geburtsdatum</th>
        <th>Wohnort</th>
        <th>Beziehung</th>
        <th>Beziehung seit</th>
        <th>Freunde seit</th>
    </tr>
    {{#each persons}}
        <form>
            <tr>
                <input type="hidden" name="id" value="{{this.id}}">
                <td>{{this.forename}}<input type="hidden" name="forename" value="{{this.forename}}"></td>
                <td>{{this.surname}}<input type="hidden" name="surname" value="{{this.surname}}"></td>
                <td>{{this.dateOfBirth}}<input type="hidden" name="dateOfBirth" value="{{this.dateOfBirth}}"></td>
                <td>{{this.domicile}}<input type="hidden" name="domicile" value="{{this.domicile}}"></td>
                <td>{{this.relation}}<input type="hidden" name="relation" value="{{this.relation}}"></td>
                <td>{{this.relationSince}}<input type="hidden" name="relationSince" value="{{this.relationSince}}"></td>
                <td>{{this.friendsSince}}<input type="hidden" name="friendsSince" value="{{this.friendsSince}}"></td>
                <td><button type="submit" formaction="/edit" formmethod="post">Edit</button><button type="submit" formaction="/deleteFriend" formmethod="post">Delete</button></td>
            </tr>
        </form>
    {{/each}}
    <form method="post" action="/saveFriend">
        <tr>
            <td>
                <input type="text" name=forename>
            </td>
            <td>
                <input type="text" name=surname>
            </td>
            <td>
                <input type="date" name=dateOfBirth>
            </td>
            <td>
                <input type="text" name=domicile>
            </td>
            <td>
                <input type="text" name=relation>
            </td>
            <td>
                <input type="date" name=relationSince>
            </td>
            <td>
                <input type="date" name=friendsSince value="{{this.date}}">
            </td>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </form>
</table>
<br>
<br>

<!--<br>-->
<!--<br>-->
<!--<h2>Search</h2>-->
<!--<br>-->
<!--<form method="get" action="/">-->
<!--    <label>-->
<!--        Position-->
<!--        <br>-->
<!--        <input type="search" name="searchPosition">-->
<!--    </label>-->
<!--    <button type="submit">Search</button>-->
<!--    <br>-->
<!--    <br>-->
<!--    <button type="submit">Reset Search</button>-->
<!--</form>-->

