<div class="grid-container-main">
    <div class="grid-element-1">
        <h1 class="title blue1">neo</h1>
        <h1 class="title red1">VZ</h1>
    </div>
    <div class="grid-element-2">
        <h2>Freundesliste von {{user.forename}} {{user.surname}}</h2>
    </div>
    <div class="grid-element-4">
        <h2>Suche nach ...</h2>
        <br>
        <form method="get" action="/neovz" class="relation">
            <label>
                Beziehung
                <br>
                <input type="hidden" name="categorie" value="relation">
                <select name="search">
                            {{#each relations}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
            </label>
            <button class="hvrButton" type="submit">Search</button>
            <br>
            <br>
        </form>
        <form method="get" action="/neovz" class="reset">
            <button type="submit">Reset Search</button>
        </form>
    </div>
    <div class="grid-element-5">
        <table class="friendsTable">
            <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Geburtsdatum</th>
                    <th>Wohnort</th>
                    <th>Beziehung</th>
                    <th>Beziehung seit</th>
                    <th>Freunde seit</th>
                    <th>Optionen</th>
                </tr>
            </thead>
            <tbody>
            {{#each persons}}
                <form>
                    <tr>
                        <td class="hidden"><input type="hidden" name="id" value="{{this.id}}"></td>
                        <td>{{this.forename}}<input type="hidden" name="forename" value="{{this.forename}}"></td>
                        <td>{{this.surname}}<input type="hidden" name="surname" value="{{this.surname}}"></td>
                        <td>{{this.dateOfBirth}}<input type="hidden" name="dateOfBirth" value="{{this.dateOfBirth}}"></td>
                        <td>{{this.domicile}}<input type="hidden" name="domicile" value="{{this.domicile}}"></td>
                        <td>{{this.relation}}<input type="hidden" name="relation" value="{{this.relation}}"></td>
                        <td>{{this.relationSince}}<input type="hidden" name="relationSince" value="{{this.relationSince}}"></td>
                        <td>{{this.friendsSince}}<input type="hidden" name="friendsSince" value="{{this.friendsSince}}"></td>
                        <td><button type="submit" formaction="/edit" formmethod="post">Edit</button><button class="rightBtn" type="submit" formaction="/neovz/deleteFriend" formmethod="post">Delete</button></td>
                    </tr>
                </form>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="grid-element-7">
        <form method="post" action="/neovz/saveMany" class="dummyData">
            <button type="submit">Import <br> Dummy Data</button>
        </form>
    </div>
    <div class="grid-element-8">
        <form>
            <table class="addFriend">
                <tr>
                    <td>
                        <label>
                            Vorname
                            <br>
                            <br>
                            <input type="text" name=forename>
                        </label>

                    </td>
                    <td>
                        <label>
                            Nachname
                            <br>
                            <br>
                            <input type="text" name=surname>
                        </label>
                    </td>
                    <td>
                        <label>
                            Geburtsdatum
                            <br>
                            <br>
                            <input type="date" name=dateOfBirth>
                        </label>
                    </td>
                    <td>
                        <label>
                            Wohnort
                            <br>
                            <br>
                            <input type="text" name=domicile>
                        </label>
                    </td>
                    <td>
                        <label>
                            Beziehung
                            <br>
                            <br>
                            <input type="text" name=relation>
                        </label>
                    </td>
                    <td>
                        <label>
                            Beziehung seit
                            <br>
                            <br>
                            <input type="date" name=relationSince>
                        </label>
                    </td>
                    <td>
                        <label>
                            Freunde seit
                            <br>
                            <br>
                            <input type="date" name=friendsSince value="{{this.date}}">
                        </label>
                    </td>
                    <td>
                        <button type="submit" formmethod="post" formaction="neovz/saveFriend">Speichern</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>